.addBtn{

    float: right;
<<<<<<< HEAD
    
}

.good{
    color:forestgreen;
}

.almost{
    color:darkgoldenrod;
}

.spoiled{
    color:darkred;
=======
    right: 5%;
>>>>>>> 1260b871a8890b65eb71c3be0be7857865af961d
}