.addBtn {
  float: right;
  right: 5%;
}

.good {
  color: forestgreen;
}

.almost {
  color: darkgoldenrod;
}

.spoiled{
    color:darkred;
}

.boxes {
    align-self: center;
    padding-left: 100px;
    padding-right: 100px;
    
}

.name{
    color: rgb(0, 0, 0);
    font-size: 5%;
}

h4 {
    margin-left: 95px;
    text-align: center;
    font-size: 25px;
}
